:root {
  --color-background: #0e273c;
  --color-dark: #070707;
  --color-text: #fff;
  --color-highlight-dull: #4a306d;
  --color-highlight: #a167a5;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background: var(--color-background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
input {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body > input {
  border: 0;
  border-bottom: 3px solid var(--color-highlight-dull);
  color: var(--color-text);
  font-size: 150%;
  font-weight: bold;
  padding: 0.5em 0.25em;
  width: 100%;
  background: var(--color-dark);
}

main {
  margin-bottom: 1em;
}

main p:not(:last-of-type) {
  border-bottom: 1px dotted var(--color-highlight-dull);
  min-height: 2em;
}

main p {
  cursor: pointer;
  padding: 0.25em;
}

main p:hover {
  background: var(--color-dark);
}

main p small {
  color: var(--color-highlight);
  font-size: small;
}

main p div {
  font-size: xx-large;
  color: var(--color-text);
}
