:root {
  --size-font: 2em;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  border: 0;
  border-bottom: 6px solid red;
  color: red;
  font-size: var(--size-font);
  font-weight: bold;
  padding: 0.5em 0.25em;
  width: 100%;
}

div {
  border-bottom: 1px dotted #666;
  font-size: var(--size-font);
  padding: 0.5em 0.25em;
}

footer {
  text-align: center;
}
